body {
  background-color: #fff;
  font-family: 'Volkorn', serif;
}

.quote {
  background: #fff;
  padding: 200px 0;
}

.quote#text {
  margin: 0 auto;
  padding: 0 20px;
  width: 400px;
}

.quote#text h1 {
  color: #333;
  font: 400 20px/30px 'Vollkorn';
  font-style: italic;
  margin: 0 0 10px 0;
  text-indent: -6px;
}

.quote#text p {
  color: #c90707;
  font: 400 12px/18px 'Vollkorn';
  letter-spacing: 1px;
  text-indent: -13px;
  text-transform: uppercase;
}

p {
  text-align: center;
}

a {
  color: #dc322f;
  font-family: 'Quattrocento', serif;
  font-weight: lighter;
  text-decoration: none;
}

a:hover {
  background-color: #fdf6e3;
}

#small {
  font-family: 'Quattrocento', serif;
  font-size: .1em;
  font-weight: lighter;
  letter-spacing: .1em;
  padding-top: 50px;
  text-transform: uppercase;
}
